

@{
    ViewData["Title"] = "Add Report";
}

@model Crash

<link href="~/assets/css/style.css" rel="stylesheet" />
<form method="post" asp-controller="Admin" asp-action="AddCrash">
    
    <div class="form-group">
        <input  asp-for="crash_id" disabled  type="hidden"/>
    </div>

    <div class="form-group">
        <label asp-for="crash_datetime">Crash date: </label>
        <input type="text" asp-for="crash_datetime" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="route">Route: </label>
        <input asp-for="route" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="milepoint">Milepoint: </label>
        <input asp-for="milepoint" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="lat_utm_y">Lattitude: </label>
        <input asp-for="lat_utm_y" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="long_utm_x">Longitude: </label>
        <input asp-for="long_utm_x" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="main_road_name">Main road name: </label>
        <input asp-for="main_road_name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="city">City: </label>
        <input asp-for="city" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="county_name">County: </label>
        <input asp-for="county_name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="crash_severity_id">Crash Severity: </label>
        <input asp-for="crash_severity_id" class="form-control" />
    </div>

    <div class="form-group">
        <label>Work zone related: </label>
        <select asp-for="work_zone_related">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>

    <div class="form-group">
        <label>Pedestrian involved: </label>
        <select asp-for="pedestrian_involved">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>

    <div class="form-group">
        <label>Bicyclist involved: </label>
        <select asp-for="bicyclist_involved">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Motorcycle involved: </label>
        <select asp-for="motorcycle_involved">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Improper restraint: </label>
        <select asp-for="improper_restraint">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Unrestrained: </label>
        <select asp-for="unrestrained">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>DUI: </label>
        <select asp-for="dui">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>

    <div class="form-group">
        <label>Intersection related: </label>
        <select asp-for="intersection_related">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>


    <div class="form-group">
        <label>Wild animal related: </label>
        <select asp-for="wild_animal_related">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>

    <div class="form-group">
        <label>Domestic animal related: </label>
        <select asp-for="domestic_animal_related">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>

    <div class="form-group">
        <label>Overturn rollover: </label>
        <select asp-for="overturn_rollover">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Commercial motor vehicle involved: </label>
        <select asp-for="commercial_motor_veh_involved">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Teenage driver involved: </label>
        <select asp-for="teenage_driver_involved">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Older driver involved: </label>
        <select asp-for="older_driver_involved">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Night/dark conditions: </label>
        <select asp-for="night_dark_condition">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Single vehicle: </label>
        <select asp-for="single_vehicle">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Distracted driving: </label>
        <select asp-for="distracted_driving">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="form-group">
        <label>Drowsy driving: </label>
        <select asp-for="drowsy_driving">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>

    <div class="form-group">
        <label>Roadway departure: </label>
        <select asp-for="roadway_departure">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>


    <div class="float-end">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    <div asp-validation-summary="All"></div>
</form>
