@{
}

@model Prediction
    <link href="~/assets/css/style.css" rel="stylesheet" />


<h2>Score: @Model.PredictedValue</h2>

<p>What does this mean? Refer to the chart below to determine your predicted crash severity value means.</p>
<div class="align-content-center">
    <img src="~/assets/img/crash.png" height="500"/>
</div>